@import "tailwindcss";
@import "@nuxt/ui";

body {
  @apply bg-linear-to-br from-gray-950 to-zinc-800;
}

.blur-enter-active,
.blur-leave-active {
  transition: all 0.4s;
}
.blur-enter-from,
.blur-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
